<p style="display: none;">{{user_name}}</p>
<div class="container abc">
            <div id="thongbao" class="alert alert-danger d-none face" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <div class="card">
                <div class="container-fliud">
                    
                    <form name="frmsanphamchitiet" id="frmsanphamchitiet" action="" method="POST">
                        <input type="hidden" name="sp_ma" id="sp_ma" value="{{product._id}}">
                        <input type="hidden" name="sp_ten" id="sp_ten" value="{{product.name}}">
                        <input type="hidden" name="sp_gia" id="sp_gia" value="{{product.price}}">
                        <input type="hidden" name="hinhdaidien" id="hinhdaidien" value="{{product.img}}">

                        <div class="wrapper row">
                            <div class="preview col-md-6">
                                <div class="preview-pic tab-content">
                                        <img class="img_sp1" src="{{product.img}}">
                                </div>
                                <ul class="preview-thumbnail nav nav-tabs">
                                    <li class="active">
                                        <a data-target="#pic-1" data-toggle="tab" class="">
                                            <img src="">
                                        </a>
                                    </li>
                                    <li class="">
                                        <a data-target="#pic-2" data-toggle="tab" class="">
                                            <img src="">
                                        </a>
                                    </li>
                                    <li class="">
                                        <a data-target="#pic-3" data-toggle="tab" class="active">
                                            <img src="">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="details col-md-6">
                                <h3 class="product-title">{{product.name}}</h3>
                                <div class="rating">
                                    <div class="stars">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                    <span class="review-no">999 reviews</span>
                                </div>
                                <p class="product-description">Màn hình 10.1 inch cảm ứng đa điểm</p>
                                <small class="text-muted">Giá cũ: <s><span>{{product.price}} vnđ</span></s></small>
                                <h4 class="price">Giá hiện tại: <span>{{product.price}} vnđ</span></h4>
                                <p class="vote"><strong>100%</strong> hàng <strong>Chất lượng</strong>, đảm bảo
                                    <strong>Uy
                                        tín</strong>!(Chắc vậy)</p>
                                <div class="form-group">
                                    <label for="soluong" style="color: black;">Số lượng đặt mua:</label>
                                    <input type="number" class="form-control" id="soluong" name="soluong" value="1" min="1" max="{{product.quantity}}">
                                </div>
                                {{!-- Button thêm vào giỏ hàng --}}
                                <div class="action nut">
                                    <a class="add-to-cart btn btn-default" id="btnThemVaoGioHang">Thêm vào giỏ hàng</a>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>

            <div class="card">
                <div class="container-fluid">
                    <h3>Thông tin chi tiết về Sản phẩm</h3>
                    <div class="row">
                        <div class="col">
                            Vi xử lý Dual-core 1 Cortex-A9 tốc độ 1GHz
                        </div>
                    </div>
                </div>
            </div>
        </div>

<script>
document.addEventListener('DOMContentLoaded', function(){
    const URL = window.location.href
    var upCartForm = document.getElementById('frmsanphamchitiet')
    var upCart = document.getElementById('btnThemVaoGioHang')
    var soluong = document.getElementById('soluong')
    var sp_ma = document.getElementById('sp_ma')
    const nut = document.querySelector('.nut')
    const p = document.querySelector('p')
    
    console.log(p.innerHTML)
    if(URL.includes('admin'))
    nut.style.display = 'none'

    //console.log(soluong.value, soluong.max);
    upCart.onclick = function(){
        if(Number(soluong.value) <= Number(soluong.max) && Number(soluong.value) > 0){
            upCartForm.action = '/product/user/cart/' + p.innerHTML + '/' + sp_ma.value + '/' + soluong.value + '/?_method=PUT'
            upCartForm.submit()
        }
        
        else confirm('Số lượng không hợp lệ!!!')
    }
})
</script>